body {
  margin: 0;
  font-family: "Red Rose", sans-serif;
}
* {
  box-sizing: border-box;
}
.home-page {
  width: 100%;
  max-width: 1440px;
  height: 812px;
  margin: 0 auto;
  font-family: "Red Rose";
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
}
header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto;
}
.hambuger {
  display: none;
}
.connect-wallet {
  width: 170px;
  height: 48px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
nav ul li {
  margin: 0 25px;
  font-size: 18px;
}
nav ul li a {
  text-decoration: none;
  color: #434343;
}
main {
  width: 90%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 5rem auto;
  font-size: 24px;
}
.left {
  margin-right: 100px;
}
.content {
  font-size: 56px;
  font-weight: 400;
  line-height: 78.4px;
  color: #434343;
  letter-spacing: -0.02em;
}
.color {
  color: #a02279;
  font-weight: 700;
}
.left p {
  color: #434343;
  line-height: 35px;
}
.left button {
  width: 30%;
  height: 54px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  border: none;
  color: white;
  font-size: 16px;
}
.left input {
  width: 60%;
  height: 54px;
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  font-size: 14px;
  padding-left: 10px;
  margin-top: 20px;
}
.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  row-gap: 5px;
  margin: 0 auto;
}
.img-1 {
  margin-top: 100px;
}
.img-4 {
  margin-top: -100px;
}
.right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.foot {
  width: 100%;
  height: 70px;
  margin-top: 50px;
}
.foot img {
  width: 100%;
  height: auto;
}
.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-content: stretch;
  align-items: center;
  gap: 20px;
  margin: 60px auto 0 auto;
}
.container article {
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  padding: 15px;
}
.house {
  width: 100%;
  height: 265px;
  border-radius: 15px;
  object-fit: cover;
}
.image-container img {
  margin-right: 5px;
  float: left;
}
.nfts {
  width: 100%;
  max-width: 1440px;
  padding: 100px 0;
  background: #a02279;
  border: 1px solid #000000;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-items: center;
  align-items: center;
  color: white;
}
.nfts section:nth-of-type(1) {
  margin-left: 60px;
}
.nfts section:nth-of-type(1) p {
  font-size: 18px;
  width: 450px;
  line-height: 35px;
}
.nfts section:nth-of-type(2) {
  position: relative;
}
.nfts section:nth-of-type(2) img {
  width: 350px;
  height: 250px;
  position: absolute;
}
.nfts section:nth-of-type(2) .middle {
  margin: -115px 0 0 -350px;
}
.nfts section:nth-of-type(2) .lower {
  margin: -35px 0 0 -120px;
}
.nfts section:nth-of-type(2) .upper {
  margin: -220px 0 0px -145px;
}
footer {
  width: 100%;
  height: 322px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: left;
  align-items: center;
}
footer section:nth-of-type(1) {
  height: 100%;
  margin-left: 60px;
}
footer section:nth-of-type(2) {
  margin-left: 100px;
}
footer section:nth-of-type(3),
footer section:nth-of-type(4) {
  margin-left: 80px;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-top: 80px;
  margin-bottom: 50px;
}
.bold {
  font-size: 18px;
  font-weight: 700;
}
.modal {
  width: 100%;
  max-width: 1440px;
  height: 1021px;
  background: rgba(64, 64, 64, 0.3);
  position: absolute;
  top: 0;
}
.modal article {
  width: 600px;
  height: 326px;
  background: #ffffff;
  border-radius: 16px;
  margin: 25% auto;
}
.wallet-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 536px;
  height: 68px;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  margin-bottom: 20px;
}
.place-to-stay {
  text-align: center;
  font-family: "Red Rose";
  width: 100%;
  max-width: 1440px;
  height: 1920px;
}
.place-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
}

@media screen and (max-width: 1000px) {
  .header-nav ul li {
    margin: 10px;
  }
  .housing {
    margin-top: 100px;
  }
  .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }
  .nfts {
    margin-top: 800px;
  }
  .nfts section:nth-of-type(2) img {
    width: 250px;
    height: 200px;
  }
  .nfts section:nth-of-type(2) .upper {
    margin: -180px 0 0px -70px;
  }
  .nfts section:nth-of-type(2) .middle {
    margin: -115px 0 0 -230px;
  }
  .nfts section:nth-of-type(2) .lower {
    margin: -35px 0 0 -60px;
  }
  .nfts section:nth-of-type(1) p {
    width: 300px;
  }
  .place-nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .place-to-stay {
    margin-bottom: 1700px;
  }
}

@media screen and (max-width: 800px) {
  .home-page {
    width: 375px;
  }
  header {
    width: 375px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .hambuger {
    display: block;
    color: #a02279;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .header-nav,
  .connect-wallet {
    position: absolute;
    top: 100px;
  }
  .header-nav ul {
    width: 270px;
    flex-direction: column;
    border: 2px solid#a02279;
    background: white;
    border-radius: 10px 10px 0 0;
    padding-bottom: 30px;
    box-shadow: 0 0 10px 0px #a02279;
  }
  .header-nav ul li {
    width: 100%;
    margin: 10px 0 5px -40px;
    text-align: center;
  }
  .header-nav ul li:hover {
    border-left: 5px solid #a02279;
  }
  .connect-wallet {
    top: 275px;
  }
  main {
    display: grid;
    grid-template-columns: 1fr;
    margin: 50px auto;
  }
  .content,
  .left p {
    width: 320px;
  }
  .left {
    margin: 0 auto;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .foot {
    width: 375px;
    height: 100px;
    margin: 50px auto;
  }
  .housing {
    margin: 650px auto;
  }
  .housing h1 {
    width: 320px;
    margin: 50px auto;
  }
  .container {
    width: 375px;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-items: center;
  }
  .nfts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 375px;
    height: 900px;
    margin: 2450px auto 0 auto;
  }
  .nfts section:nth-of-type(1) {
    margin: 0;
    margin-top: -100px;
    width: 370px;
  }
  .nfts section:nth-of-type(1) p {
    margin: 0 auto;
  }
  .nfts section:nth-of-type(2) img {
    width: 200px;
    height: 150px;
    position: absolute;
  }
  .nfts section:nth-of-type(2) img {
    top: 250px;
  }
  .nfts section:nth-of-type(2) .upper {
    left: 20px;
  }
  .nfts section:nth-of-type(2) .middle {
    left: 60px;
  }
  .nfts section:nth-of-type(2) .lower {
    left: 20px;
    top: 220px;
  }
  footer {
    width: 375px;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  footer section:nth-last-of-type(1),
  footer section:nth-last-of-type(2),
  footer section:nth-last-of-type(3),
  footer section:nth-last-of-type(4) {
    margin-left: unset;
    text-align: center;
  }

  footer section:nth-last-of-type(4) {
    height: unset;
    margin-bottom: 50px;
  }
  .icons {
    width: unset;
    margin: 30px 0;
    justify-content: space-evenly;
  }
  .modal {
    width: 375px;
  }
  .modal article {
    width: 300px;
  }
  .wallet-box {
    width: 250px;
    margin: 0 10px 20px -5px;
  }
  .place-to-stay {
    margin-bottom: 4800px;
  }
  .place-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto 50px auto;
    width: 370px;
  }
  .place-nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    gap: 20px;
  }
}
